@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway/Raleway-Regular.ttf');
}
* {
    font-family: Raleway;
}
a {
    color: #5cb85c;
    transition: all ease-in-out 0.3s;
}
a:hover,
a:focus,
a:visited,
a:active {
    color: #449d44;
    text-decoration: none;
}
#bc-navbar .navbar-default {
    background: transparent;
    border: none;
    box-shadow: none;
}
#bc-navbar .navbar-toggle {
    background: transparent;
    border: none;
}
.header-title {
    text-align: center;
    margin-bottom: 50px;
}
.header-title h1 {
    font-weight: bolder;
}
#masonry-grid .thumbnail {
    padding: 0;
    border: none;
    margin-bottom: 40px;
    border-radius: 0;
}
#masonry-grid .thumbnail .caption {
    padding: 0;
}
#masonry-grid .thumbnail .caption h3 {
    font-weight: bold;
}
.read-more-button {
    text-transform: uppercase;
    font-weight: bold;
}
section {
    display: inline-block;
    position: relative;
    width: 100%;
}
#main-body {
    margin-bottom: 100px;
}
#newsfeed {
    background: #f7f7f7;
    padding: 50px;
}
#newsfeed h3 {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: bold;
}
#newsfeed .form-control {
    box-shadow: none;
    border-radius: 0;
    border: 2px solid #dddddd;
    height: 50px;
    width: 400px;
}
#newsfeed .btn {
    padding: 12px 30px;
    border-radius: 0;
    border-width: 2px;
}
#footer {
    padding: 50px 0 60px;
}
#footer p {
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
}
.blog-details .thumbnail {
    border-radius: 0;
    border: none;
    padding: 0;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
.blog-details .thumbnail .caption h3 {
    margin-top: 0;
}
.blog-details .thumbnail .caption img {
    margin: 40px 0 0;
}
.blog-details .thumbnail .caption article {
    margin: 50px 0;
}
.right-sidebar {
    padding: 0 0 0 25px;
}
.right-sidebar .thumbnail {
    padding: 0;
    border-radius: 0;
    border: none;
}
.right-sidebar .caption h3 {
    margin-top: 0;
}
.thumbnail-header {
    position: relative;
    display: block;
}
.thumbnail-header img {
    width: 100%;
}
.thumbnail-header .image-overlay {
    background: rgba(1,1,1,0.3);
    position: absolute;
    width: 100%;
    padding: 10px;
    bottom: 0;
    color: #ffffff;
    display: none;
}
.thumbnail:hover .thumbnail-header .image-overlay {
    display: block;
}
.thumbnail-header .image-overlay::after {
    content: '';
    width: 20px;
    height: 20px;
    background: #ffffff;
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -0%);
    transform: rotate(-45deg);
}

/*sidenav stylesheet*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(1,1,1,1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav .closebtn {
    position: absolute;
    top: -5px;
    right: 28px;
    font-size: 36px;
    padding: 0;
}
/*.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}*/

/*.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}*/

/*#wrapper {
    transition: margin-right .5s;
    padding: 16px;
}*/
.profile {
    padding: 0 20px;
    color: #ffffff;
}
.btn-success {
    border-color: #5cb85c;
    transition: all ease-in 0.3s;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    border-color: #449d44;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
@media screen and (max-width: 760px) {
    .profile {
        padding: 0 20px 0 50px;
    }
}